extends ../layout

block content
  h1.text-center Banksia Management
  p.mb-4.text-center Select a banksia to view details.
  .row
    .col-md-6.m-auto
      a.btn.btn-outline-primary.border-0.btn-block(href='/admin/banksia/add')
          i.fas.fa-plus 
          | &nbsp; Add New Banksia
      input#search.form-control.mb-3(type="search", name="search", placeholder="Search")
      ul#b-list.list-group
        each page, i in pages
          .page(id="page-"+ (i+1))
            each banksia, j in page
              a.list-group-item.list-group-item-action(href='/admin/banksia/'+banksia._id)
                .d-flex.align-items-center
                  .w-100
                    h5.text-center.mb-0= banksia.name
                  if banksia.img[0] !== undefined
                    img.d-block.img-thumbnail.img-fluid.list-img(src="/uploads/"+banksia.img[0])
                  else 
                    img.d-block.img-thumbnail.img-fluid.list-img(src="/img/no-img.png")
        else
          span.mx-auto No Banksias found.
      ul.pagination.justify-content-center.mt-4
        each page, i in pages
          li.page-item(id="page-item-"+ (i+1))
            a.page-link(href=("#b-list"))= i+1
block scripts
  script(src="/js/list.js")