/* Backgrounds */
body {
  background-color: #434350;
  height: 100vh;
  font-family: "Ubuntu", sans-serif;
}

body .navbar {
  z-index: 2;
}
.container {
  max-width: 800px;
}
.navbar {
  padding-left: 0;
  padding-top: 0;
}

.mubc-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.mubc-bg .container {
  margin-top: 70px;
  opacity: 0;
}
.mubc-bg-primary {
  background: #7db9ba url("../img/Murdoch_banksia.jpeg") bottom right/contain
    no-repeat;
}
.mubc-bg-dark {
  background: #434350 url("../img/Dark Background_Small-02.jpg") center center/cover
    no-repeat;
}
.mubc-bg-light {
  background: #f9d63c url("../img/Small_yellow_background-24.jpg") center
    center/cover no-repeat;
}

/* Landing Page */
.notice-container {
  position: relative;
  display: block;
  width: 100%;
  top: 65px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  align-items: center;
}

.notice {
  background: rgba(255, 255, 255, 0.212);
  color: #fff;
  margin: 0 25px;
  padding: 5px 15px;
  border-radius: 10px;
}

.landing-container {
  margin-top: 18vh;
}

.landing-btn {
  background-color: #ffc80a;
  border: none;
  padding: 8px 35px;
  margin-top: 30vh;
}

.landing-btn:hover,
a.landing-btn:active {
  background-color: #547b6d;
  color: #fff;
}

/* Banksia Page */
.filter-container {
  /* margin-top: 15vh; */
  padding: 5px;
}

.filter-container #search,
.filter-container #group {
  opacity: 0.5;
  text-align: center;
}

#season-title {
  opacity: 0.5;
}

.season {
  opacity: 0.5;
}

.filter-container #search:focus,
.filter-container #group:focus,
.season:hover,
.season.active {
  opacity: 1;
}

.season-filter {
  display: flex;
  justify-content: space-between;
}

.season img {
  height: 60px;
}

.season span {
  display: block;
  text-align: center;
  color: #fff;
  font-size: 13px;
}

.season:hover {
  text-decoration: none;
}

.filter-container #group {
  text-align-last: center;
}

.banksia-list {
  width: 100%;
  margin: auto;
  background: rgba(219, 219, 221, 0.65);
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 10px;
  margin-bottom: 1rem;
}

.banksia-list-title {
  color: #333;
  font-size: 20px;
  font-weight: 600;
}

.banksia-item {
  background: #f5f5f5;
  display: flex;
  border-radius: 15px;
  border-color: none;
  margin: 5px 10px;
  text-decoration: none;
  color: black;
  height: 70px;
  justify-content: center;
}

.banksia-item img {
  border-radius: 15px 0 0 15px;
  width: 120px;
  object-fit: cover;
}

.banksia-item span {
  font-size: 18px;
  flex: 1;
  text-align: center;
  align-self: center;
}

.banksia-item:hover {
  opacity: 0.85;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.banksia-list .pagination .page-item a.page-link {
  background: #f5f5f5;
  color: #434350;
  opacity: 0.7;
}

.banksia-list .pagination li.active a.page-link {
  background: #333;
  color: #f5f5f5;
  border: #333 solid 2px;
  opacity: 1;
}

/* View Banksia */
.view-banksia-title,
.view-signage-title,
.view-banksia-map-title {
  font-size: 30px;
  font-weight: 650;
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  border-top: #f6d548 solid 10px;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-top: 100px;
  border-top-left-radius: 50px;
}

.view-signage-title {
  padding-bottom: 5px;
}

.view-banksia-detail,
.view-signage-detail {
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom-right-radius: 30px;
}

.view-signage-detail {
  margin-bottom: 40px;
}

.view-banksia-map-title {
  font-size: 22px;
  margin-top: 15px;
  border-top-left-radius: 40px;
}

ol.carousel-indicators {
  z-index: 1;
}

.map-container {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  padding-bottom: 10px;
  margin-bottom: 40px;
}

/* Maps*/

#mapid {
  height: 400px;
  width: 100%;
}

#mubc-map {
  height: 300px;
  width: 95%;
  margin: auto;
}

#explore-map {
  margin-top: 15vh;
  height: 60vh;
  border: 5px solid white;
  border-top-left-radius: 25px;
  z-index: 1;
  font-family: "Ubuntu", sans-serif;
}

#explore-map #legend {
  position: absolute;
  right: 0;
  display: block;
  z-index: 1000;
  background: #ffffff;
  opacity: 0.8;
  padding: 5px;
  font-size: 16px;
}

#explore-map #legend img {
  height: 20px;
}

.locate-container {
  position: absolute;
  bottom: 40px;
  width: 100%;
  z-index: 1000;
}

#locate-me {
  font-size: 20px;
  text-align: center;
  background: #ffffff;
  margin: 0 5%;
  padding: 10px;
  opacity: 0.75;
  border-top: 10px solid #f2d340;
  border-bottom-right-radius: 25px;
}

#locate-me:hover {
  cursor: pointer;
  opacity: 0.9;
}

#locate-me:active {
  background: #c7c7c7;
}

a.marker-popup {
  text-decoration: none;
  font-weight: bold;
  width: 100px;
}

a.marker-popup span {
  display: block;
  width: 90px;
  text-align: center;
}

a.marker-popup img {
  height: 40px;
  width: 100%;
  object-fit: cover;
  margin: auto;
  display: block;
}

/* About section Page*/
.about-section {
  margin-top: 100px;
  max-width: 700px;
  margin: auto;
}
.about-section-title {
  text-align: right;
  font-size: 45px;
  font-weight: bold;
  padding-right: 15px;
  color: rgba(255, 255, 255, 0.5);
  line-height: 0.83;
}
.about-section-body {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 25px;
  border-top-left-radius: 25px;
}

img.about-nav {
  background-color: #fff;
  height: 60px;
  border-radius: 50%;
}
ul#about-tabs {
  max-width: 700px;
  margin: auto;
}

li.nav-item a.active img.about-nav {
  border: red solid 3px;
}

@media (max-width: 321) {
  .navbar-brand {
    font-size: 1rem;
  }
}
