extends layout

block content
  .col-md-4.mx-auto.mt-4
    a.btn.btn-warning.btn-block(href="/banksia") Explore Banksia
    a.btn.btn-warning.btn-block(href="/about") More About
    a.btn.btn-warning.btn-block(href="/map") View Map