extends layout

block content
  .container.bg-dark
    .px-1.py-2
      input#search.form-control.mb-3.mt-3(type="search", name="search", placeholder="Search")
      small.text-light Filter by Season:
      .row.my-2.m-0
        a#spring-btn.season.btn-sm.btn-primary.mr-2(href="#") Spring
        a#summer-btn.season.btn-sm.btn-primary.mr-2(href="#") Summer
        a#autumn-btn.season.btn-sm.btn-primary.mr-2(href="#") Autumn
        a#winter-btn.season.btn-sm.btn-primary.mr-2(href="#") Winter
        a#reset-btn.season.btn-sm.btn-danger.mr-2(href="#") Reset
    #banksia-list.banksia-list.mt-3
      h4.p-2 Banksia List
      each page, i in pages
        .page(id = "page-"+ (i+1))
          each banksia, j in page
            .banksia-list-item
              a.banksia-item.shadow-sm(href="/banksia/"+banksia._id)
                input(type="hidden", name="seasons" value= banksia.flowerPeriod.toString())
                if banksia.img[0] !== undefined
                  img(src="/uploads/"+banksia.img[0])
                else 
                  img(src="/img/no-img.png")
                span= banksia.name
      ul.pagination.justify-content-center.mt-4
        each page, i in pages
          li.page-item(id="page-item-"+ (i+1))
            a.page-link(href=("#banksia-list"))= i+1

block scripts
  script(src='/js/list.js')

  