extends layout

block content
  .col.mx-auto
    .text-center.mb-4.heading.text-light
      h3 Welcome to 
      h2 Murdoch University's Banksia Court
    .col-md-3.mx-auto
      a.btn.btn-primary.btn-block(href='/explore') Explore
  