extends layout

block content
  .container
    .landing-container
      .heading.text-light.px-2
        h4 Welcome to 
        h2 Murdoch University's
        h1.mb-5 Banksia Court
        .text-center
          a.landing-btn.btn.rounded-pill.btn-lg(href='#') Start Explore
  