extends layout

block content
  .container
    .landing
      .heading.text-light.px-2
        h4 Welcome to 
        h2.mb-5 Murdoch University's Banksia Court
        .text-center
          a.btn.btn-primary.rounded-pill.btn-lg.mt-2(href='/explore') Start Explore
  