<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Banksia Court
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    link(rel="stylesheet", href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css", integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==",crossorigin="")
    link(rel='stylesheet', href='/css/style.css')
    link(rel="stylesheet", href="/css/menu.css")
  body.bg-dark
    nav.navbar.navbar-expand-lg.navbar-light.bg-warning
      .container
        .d-flex.justify-content-start.align-items-center
          .menu-wrap
            input(type="checkbox", class="toggler")
            .hamburger
              div
            .menu
              div
                div
                  ul
                    li
                      a(href="/") Home
                    li
                      a(href="/banksia") Explore
                    li
                      a(href="/map") View Map
                    li
                      a(href="/about") More About
                    li
                      a(href="/about") Contact Us
          a.navbar-brand.mb-0.ml-2.h1(href='/') BanksiaCourt  
        .d-flex.justify-content-end.align-items-center
          img(src="/img/murdoch-logo-hoz-white.svg", alt="", srcset="", height="47px")
    //- .container  
    block content
    //- footer
    //-   p.text-center Banksia
    //-     span.font-weight-light Gazer 
    //-     | &copy; 2019
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
    block scripts
    script(src='/js/main.js')
      