extends layout

block content
  .mubc-bg.mubc-bg-light
    .container.pt-3
      #explore-map
        #legend 
          img(src="../img/signage option-22.png")
          | Signage &nbsp;
          img(src="../img/signage option-21.png")
          | Banksia &nbsp;
        .locate-container
          #locate-me Locate Me
      footer.text-light.pt-4
        p.pt-4.m-0.text-center Banksia
          span.font-weight-light Gazer 
          | &copy; 2019
block scripts
  script(src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" ,integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==", crossorigin="")
  script(src="/js/mapConfig.js")
  script(src='/js/api.js')
  script(src="/js/map.js")