extends layout

block content
  .container
    .action
      .col.rounded
        a.btn.btn-warning.btn-block.mb-5.rounded-pill(href="/banksia") Explore Banksia
        a.btn.btn-warning.btn-block.mb-5.rounded-pill(href="/about") More About
        a.btn.btn-warning.btn-block.rounded-pill(href="/map") View Map